a{
          text-decoration: none;
          color: #000;
        }
        .clicki{
          cursor: pointer !important;
        }
        #nav{
          width: 100%;
          height: 70px;
          position: fixed;
          /* filter: invert(1); */
          z-index: 499;
          top: 0px;
          left: 0px;
          display: flex;
          align-items: center;
          padding: 0 2vmax;
          justify-content: space-between;
          background-color: rgb(0, 0, 0);
        }
        #nav .left a{
          font-size: 1vmax;
        }
        #nav a:hover{
          color: rgb(185, 185, 185);
        }
        #nav .left{
          height: 100%;
        
          display: flex;
          align-items: center;
          gap: 2vw;
        }
        #nav a{
          text-decoration: none;
          cursor: pointer;
          color: #fff;
        
        }
        
        #nav .logo img{
          height: 97%;
        
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
        
        }
        #nav .right{
          height: 100%;
          display: flex;
          align-items: center;
          gap: 2.5vmax;
        }
        #nav .right a{
          position: relative;
        }
        #nav .right a i{
            font-size: 1.2rem;
            color: white;
        }
        #nav .right a .count{
          color: white;
          font-size: 10px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          right: -8px;
          top: -8px;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background-color: #C90000;
          overflow: hidden;
        }
        #nav .right a .profile{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 2px solid red;
          padding: 2px;
          overflow: hidden;
        }
        
        .hamburgerlines{
          width: 100%;
          height: 100%;
          position: absolute;
          
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        
        .hamburgerlines .lines{
          display: block;
          height: 4px;
          width: 100%;
          background: #ffffff;
          border-radius: 100px;
        }
        
        .hamburger{
          position: relative;
          /* background-color: #C90000; */
          width: 30px;
          z-index: 5555;
          height: 25px;
          display: none;
        }
        
        .hamburgerlines .line1{
         transform-origin: 0% 0%;
        }
        
        .hamburgerlines .line2{ 
         transform-origin: 0% 100%;
        }
        .hamburgerlines .line3{ 
         transform-origin: 0% 100%;
        }
        #nav .right a .profile img{
          width: 100%;
          border-radius: 50%;
          
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
        }
        .sidebarmain{
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          display: none;
          left: 0;
        }
        .out{
          background-color: #0000008e;
          width:100%;
          height: 100%;
        }
        .sidebar{
          position: absolute;
          right: 0;  
          z-index: 501;
          transform: translateX(100%);
          /* z-index: 501; */
          background-color: #000;
          width: 30vmax;
          height: 100vh;
        }
        .sidebar .box{
          width: 100%;
          height: 25%;
          display: flex;
          justify-content: center;
          position: relative;
          align-items: center;
          flex-direction: column;
          background-color: #030303;
          border-bottom:1px solid rgba(128, 128, 128, 0.501) ;
        }
        .sidebar .box img{
          width:  8vmax;
          height: 8vmax;
          border-radius: 20px;
          border: .6vmax solid black;
          object-fit: cover;
          object-position: 50% 50%;
          
        }
        .sidebar .box h4{
          margin-top: 1vmin;
          margin-bottom: 1vmin;
          font-size: 20px;
          font-weight: 300;
          color: #fff;
        }
        .sidebar .catg{
          display: flex;
          /* background-color: #C90000; */
          flex-direction: column;
          /* background-color: #000000; */
          height:  75%;
          width: 100%;
        }
        .sidebar .catg .sec{
          display: flex;
          align-items: center;
          padding: 2vmax;
          width: 100%;
          height: 6vh;
        }
        .catg a:hover .sec{
          background-color: #262626;
        }
        @media (max-width: 600px) {
          #nav{
            height: 8vmax;
          }
          #nav .left {
            display: none;
          }
          #nav .logo img{
          height: 90%;
        
            left: 30%;
          }
          .sidebar .box{
            height: 18%;
          }
          .sidebar .catg{
            height: 85%;
          }
          .sidebar .catg .sec{
          padding: 3vmax;
        
          }
          .sidebar{
            left: 0;  
            z-index: 501;
            transform: translateX(-100%);
          }
          .profile{
            display: none;
          }
          .hamburger{
            display: block;
            margin-left: 1.5vw;
            transform: scale(.8);
          }
          #rightHamburger{
            display: none;
          }
          #rightHamburger{
            display: initial;
          }
        }
        #first .cntr{
          display: flex;
          align-items: center;
        }
        #first .cntr .lef{
          /* width: 40vmax; */
          width: 45vw;
          color: white;
          margin-left: 15vw;
          line-height: 3.8vmax;
        }
        @media screen and (max-width: 786px) {
          #first .cntr .lef{
            margin-left: 1.5vw;
          line-height: 4vmax;
            margin-right: 1vw;
          }
        
        }
        