<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    #main {
      height: 100%;
      width: 100%;
      font-family: Gilroy;
      padding: 1vmax;
    }
    #allOrders {
      width: 100%;
    }

    .imageContainer {
      height: 9vmax;
      width: 7vmax;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .orderCard {
      padding: 2vmax;
      justify-content: space-between;
      display: flex;
      background-color: rgb(227, 227, 227);
      align-items: center;
      margin-bottom: 1.5vmax;
    }
    .left {
      display: flex;

      align-items: center;
    }
    .text {
      margin-left: 1vmax;
    }
    .center {
      margin-left: 3vmax;
    }
    .id {
      display: flex;
      margin-top: 1vmax;
    }
    .right {
      width: 35%;
    }
    .text {
      margin-left: 1.5vmax;
    }
  </style>
  <body>
    <div id="main">
      <div class="allOrders">
        <div class="orderCard">
          <div class="left">
            <div class="imageContainer">
              <img
                src="https://images.unsplash.com/photo-1649355020062-a004b4b51106?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                alt=""
              />
            </div>
            <div class="text">
              <h3>bonz lolo</h3>
              <h5>223</h5>
            </div>
          </div>
          <div class="center">
            <h3>Delivery Address</h3>
            <h4>phone number : 1234567890,012039487</h4>
            <div class="id">
              <h5>orderId : kflsdjlsjdklaksdjflsj</h5>
              <h5 style="margin-left: 2vmax">
                paymentId : kdlfksdjlfksdlksjljl
              </h5>
            </div>
          </div>
          <div class="right">
            <h3>
              124,slidfl lfasiejladjfl,flskjdflksjdfksl,dajflsdifjlkjl bhopal
            </h3>
          </div>
        </div>
        <div class="orderCard">
          <div class="left">
            <div class="imageContainer">
              <img
                src="https://images.unsplash.com/photo-1649355020062-a004b4b51106?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                alt=""
              />
            </div>
            <div class="text">
              <h3>bonz lolo</h3>
              <h5>223</h5>
            </div>
          </div>
          <div class="center">
            <h3>Delivery Address</h3>
            <h4>phone number : 1234567890,012039487</h4>
            <div class="id">
              <h5>orderId : kflsdjlsjdklaksdjflsj</h5>
              <h5 style="margin-left: 2vmax">
                paymentId : kdlfksdjlfksdlksjljl
              </h5>
            </div>
          </div>
          <div class="right">
            <h3>
              124,slidfl lfasiejladjfl,flskjdflksjdfksl,dajflsdifjlkjl bhopal
            </h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
