<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/about.css">
</head>

<body>
  <% include ../views/Partial/loader.ejs %>

    <div id="mainLM">
        <div class="page1lm">

            <div class="navlm">
                <h1>ABOUT US</h1>
    
            </div>
            <div id="respC1" class="c1">
                <h1>Timeline</h1>
                <br>
                <div class="contentlm">
                    <p>

                        We aspire to build and create a mixture of passion , style for our community . Our goal is to
                        promote and provide a blend of love and passion for street style. We endeavour to encourage the
                        street style fashion by providing best quality material to our everyday artistic community to
                        overcome their challenges for perfect oversized clothing.
                        <br><br>

                        By promoting and helping one another we have the ability to change the mindset of unlike minded
                        people. <br> <br>
    
                        Our artistic hustle is real and somehow our products helps our community to lower this hustle by
                        providing awareness so the multitalented artistic community can rise.
                    </p>
                </div>
            </div>
            <div id="c11" class="c1">
                    <div class="left" >
                <h1>Vision</h1>
                <br>
                <div class="contentlm">
                    <p>
    
                        Timeline
    
                        Started in 2022 , with a simple aim to promote our community and decrease the hustle for perfect
                        oversized clothing with good quality material. 
                        <br><br>
                        Our aim is to give wings to our street style community that can accelerate the growth of street
                        style. We endeavour to keep our work clean,unique, & perfect with a sense of togetherness because
                        "where their is unity their is dignity" .
                    </p>
                </div>
            </div>
          </div>
        </div>

        <!-- page 2 below -->
        <div  id="teamPage" class="page1lm">

            <div class="navlm">
                <h1>OUR TEAM</h1>
    
            </div>
            
            <div class="c2">
                <div  class="leflm">

                    <h1>Founder</h1>
                    <br>
                    <h2>Rohit Bisht</h2> <br>
                    <div class="contentlm">
                        <p>
                            A young highly enthusiastic artist with good sense of street style. Seeing the emerging artistic culture and understanding their problem , he came up with the idea to overcome problems emerging with street wear.
                        </p>
                    </div>
                </div>
                
            </div>

            <!-- coFounder -->

            <div id="c22" class="c2">
                <div  class="leflm">
                    
                    <h1>CoFounder</h1>
                    <br>
                    <h2>Ritik Mamgain</h2> <br>
                    <div class="contentlm">
                        <p>
                            
                            Engineer by background, neglected the Mob Mentality and tried something different for the artistic community and to encourage the street culture , brings the idea dealing with solutions for street style .
                        </p>
                    </div>
                </div>
                
               
            </div>
        </div>

        <!-- page 3 below -->

        <div  id="last" class="page1lm">

           
            <!-- c33 means Core teams nave "id" -->
            <div id="c33" class="c2">
                <div  class="leflm">

                    <h1> Core team </h1>
                    <br>
                    <div class="contentlm">
                        <p>
        
                            With specialised knowledge in various  respected fields our core team belongs - 
                            <ul>
                                <li>Ashwini Choudhary : Production Head</li>
                                <li>Ansh Bhatt & Anurag Katare : Creative Team</li>

                                <li>Nachiket Soni : Web devloper</li>
                            </ul>
                           
                        </p>
                    </div>
                </div>
                
            </div>

            
            <div class="footerimage">
                <img src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671560166/default/WhatsApp_Image_2022-12-17_at_4.41.30_PM_hvkku8.jpg" alt="">
            </div>

           
        </div>

    </div>
</body>

</html>