<% include ../views/Partial/header.ejs %>

<link rel="stylesheet" href="../stylesheets/Partial/nav.css" />
<link rel="stylesheet" href="../stylesheets/Partial/header.css" />

</head>
<style>
 
</style>
<body>
  <% include ../views/Partial/loader.ejs %>

  <div class="main">
    <% include ../views/Partial/nav.ejs %>
  </div>
  <script src="../javascripts/nav.js"></script>

</body>
</html>