<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/about.css">
</head>
<style>
    @media screen and (max-width: 600px) {
      
    p{
        font-size: 2.3vmax !important;
    }
        
    }
    a{
        text-decoration: none;
        color: rgb(0, 153, 255);
    }
</style>
<body>
  <% include ../views/Partial/loader.ejs %>

    <div id="mainLM">
        <div class="page1lm">

            <div class="navlm">
                <h1>HELP & SUPPORT</h1>
    
            </div>
            <div style="width: 40vmax;" id="respC1" class="c1">
                <h1 style="font-size: 3vmax;" > How do I check the status of my order? </h1>
                <br>
                <div class="contentlm">
                    <p>

                • You can check the status of your order by clicking TRACK ORDER on the BONZA ON STREET page post account login. <br>

                • Once your order is placed, we will send you confirmation of your order details by e-mail and SMS. <br>

                • Again, once we dispatch your shipment, you will be notified via SMS. <br>

                • Your tracking link may take up to 24 hours from shipping date to get activated. <br>

                • In case of any unusual event which delays your order, you will receive an update from us. <br>
                    </p>
                </div>
            </div>
            <div style="width: 40vmax;" id="respC1" class="c1">
                <h1 style="font-size: 3vmax;" >FAQ</h1>
                <br>
                <div class="contentlm">
                    <p>
      
                 HOW DO I PLACE MY ORDER? <br><br>
                 To place your order, follow these steps: <br><br>
                 1. Browse through our wide range of products until you find something you like. After you’ve chosen what you want, select the relevant size, if applicable. You can check out our size chart for reference.<br>
                 2. Once you’re done, click the ‘Add to Cart’ button<br>
                 3. After you have added all the products, click on the cart icon on the top right. You can either choose to continue shopping or confirm the order and click ‘Checkout’.<br>
                 4. From there, you can either login to your existing Bonza on Street account or simply continue as a ‘New User’ and create one.<br>
                 5. Once you’re done, proceed to checkout, confirm your shipping address, and select the desired payment method to confirm your order by clicking ‘Place Order’.
                 <br><br>

                 I TRIED PLACING MY ORDER USING MY DEBIT CARD/ CREDIT CARD/ NET BANKING. THE ORDER WAS NOT SUCCESSFUL BUT MY MONEY GOT DEDUCTED. WHAT’S HAPPENING HERE? ACCORDION TITLE <br><br>
                 1. As a first step, kindly check your bank account to ensure if your account has been debited. If your account has been debited after a payment failure, it is normally rolled back by banks within 10 business days.<br>
                 2. For any other assistance/issues you can write to us at <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=bonzaaonstreet@gmail.com&tf=cm">bonzaaonstreet@gmail.com</a>  or call us on our helpline, and we’ll help sort things out.

                 <br><br>

                 HOW SHOULD I CHECK THE STATUS OF MY ORDER?
                 <br><br>
                 1. To find out when your order is arriving, you need to first log in to your account. Click on the icon to the left of the cart (located on the top right corner) and enter your details.<br>
                 2. Click on Orders to see the status of your current order (as well as your order history). You can also simply click on ‘Track Order’ on the top right, type in your order ID, and check your order status<br>
                 3. After your order has been successfully placed, you will immediately receive a confirmation and order details via email and SMS. Once your products have been shipped, you will be notified again via email and SMS.<br>
                 4.In case there is any unusual event or complication that leads to a delay in shipping your order, you will immediately receive an update from our end- with reasons and the revised shipping and delivery timelines.<br>
                 5. If there are any other issues/ delays that come up, or you need the order to be delivered urgently, write to us at xyz@gmail,com we will see what we can do to help.<br>
      
              
                    </p>
                </div>
            </div>
            <div id="c11" class="c1">
                    <div class="left" >
                <h1 style="font-size: 3vmax;">RETURN\EXCHANGE POLICY</h1>
                <br>
                <div class="contentlm">
                    <p>
                        Cancellation & Returns Policy of BONZA ON STREET : <br> <br> Cancellations: <br><br>
                        If you would like to cancel your order before it has been dispatched from our fulfillment center, please write to us at <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=bonzaaonstreet@gmail.com&tf=cm">bonzaaonstreet@gmail.com</a> with your order details. We will cancel the order without any extra fees and our team will reach out to you within 7 days of acceptance of order cancellation for further process. <br><br>If the order has been dispatched and you do not want to receive the same, kindly inform our team at Email <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=bonzaaonstreet@gmail.com&tf=cm">bonzaaonstreet@gmail.com</a> and refuse to take delivery and wait for your turn patiently as our team will contact you within 7 days of acceptance of cancellation request after deducting to and fro shipping charges and a cancellation fee of ₹75.<br><br> Replacements \ exchange :<br><br> If you are not satisfied with a product that you have purchased on the bonza on street website, you have an option to raise a return/replacement request within 5 days of delivery of the product. <br><br>Procedure: <br><br>You can either request a replacement unit or return the product and get your money back. To raise return/replacement requests, kindly <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=bonzaaonstreet@gmail.com&tf=cm">bonzaaonstreet@gmail.com</a>  us along with a genuine reason for the return/replacement request. Please note that we may ask for photos or videos of the product to approve your request. So, kindly take photos/record videos while unboxing the order.<br><br> Please ensure that the product is returned with its original packing, box (if any), bill, and any other material that came along with the product. The returned product must be in unused condition as we cannot issue refunds for products that show signs of use. If these steps are taken, the original purchase amount will be credited to your bank account <br><br> Please note that for returns, there will be a cancellation fee of ₹75 and just a minimal charge of ₹45 will be applicable for replacement
                    </p>
                </div>
            </div>
          </div>
          
        </div>

    
    </div>
</body>

</html>