<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div id="main">
    <div id="first">

      <div class="cntr">
        <div class="lef"><h5>ORGANIC</h5><h1>Minimal Premium<br><span>Clothing.</span> </h1> <a href=""><button>Shop Now</button></a></div>
        <img src="../images/Modelo.png" alt="">
      </div>
    </div>
    <div id="second">
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2021/12/3-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show" >$49.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">

            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Green-Dragon-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$48.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Game-Over-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$47.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$46.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$45.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Otaku-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$44.99</h4>
      </div>
    </div>
    <div id="third">
      <div class="left"><img src="https://tokyoarkade.com/wp-content/uploads/2020/08/Black-Shirt.svg" alt=""></div>
      <div class="right">
        <div class="yexy">
          <h1>Minimal Design</h1><h2>Big Ideas</h2><h4>Timeless and modern designs,this is our target,searching 
          that illustration than never back off,simple and modern modern designs</h4>
          <button>Buy Now</button>
        </div>
      </div>
    </div>
    <div id="second">
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2021/12/3-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show" >$49.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">

            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Green-Dragon-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$48.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Game-Over-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$47.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$46.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$45.99</h4>
      </div>
      <div class="item">
        <div class="img"> 
          <img class="scnd" src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg" alt="">
       
            <img src="https://tokyoarkade.com/wp-content/uploads/2020/12/Otaku-1-850x850.jpg" alt="">
        </div>
        <h2>Secret Character <div id="heart" ><i class="ri-heart-3-line"></i></div></h2>
        <h4 class="show">$44.99</h4>
      </div>
    </div>
    <div id="third">
      <div class="right">
        <div class="yexy">
          <h1>Minimal Design</h1><h2>Big Ideas</h2><h4>Timeless and modern designs,this is our target,searching 
          that illustration than never back off,simple and modern modern designs</h4>
          <button>Buy Now</button>
        </div>
      </div>
      <div id="aadhabanda" class="left"><img  src="https://tokyoarkade.com/wp-content/uploads/2020/09/Fo1Fc5832C08_Fo1Fc5832C08.svg" alt=""></div>
    </div>
    <div id="konhaiham">
      <h1>Who We Are? <br><div> An organic clothing brand that combines the world of anime & gaming with a retro style & minimalist.</div> </h1><h5>Part of our collection is made with 100% stronger, softer & smoother organic ring spun cotton. <br> <div> The other collection is made handcrafted with a precision cut and hand sewn. </div>
        <a id="playvid"><h1>Play Video</h1> <span>
          <lottie-player id="icon" src="https://assets2.lottiefiles.com/packages/lf20_9abbz8gz.json"  background="transparent"  speed="1"   hover   ></lottie-player>
        </span> </a>

      </h5>
      <div id="thevideo"> <i id="close" class="ri-close-circle-fill"></i>
        <iframe src="https://www.youtube.com/embed/RQTgJRwMdKQ" title="Ariana Grande - God is a woman (Lyric Video)" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script>
    let flag = 0
      document.querySelectorAll("#heart").forEach((all)=>{

        all.addEventListener('click',()=>{
          if(flag === 0){
            all.innerHTML = `<lottie-player  src="https://assets6.lottiefiles.com/packages/lf20_4VYPxJ.json"  background="transparent"  speed="1" autoplay></lottie-player>`
            flag=1
          }
          else{
            all.innerHTML = `<i class="ri-heart-3-line dil"></i>`
            flag= 0;
          }
        })
      })
      var scnd = document.querySelectorAll(".scnd")
      var show = document.querySelectorAll(".show")
      var txt =  []
      document.querySelectorAll(".item").forEach((all,i)=>{
        txt.push(show[i].textContent)
     
        all.addEventListener('mouseover',(e)=>{
          scnd[i].style.opacity = 1;
          show[i].textContent = 'Show More'
        })
        all.addEventListener('mouseout',(e)=>{
          scnd[i].style.opacity = 0;
          show[i].textContent =txt[i]
        })
      })
      document.querySelector("#icon").addEventListener("click",()=>{
        document.querySelector("#thevideo").style.display='flex'
      })
      document.querySelector("#close").addEventListener("click",()=>{
        document.querySelector("#thevideo").style.display='none'
      })

  </script>
</body>
</html>