<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <div id="main">
      <div class="nav">
        <div class="left">
          <a href="">Home</a>
          <a href="">Store</a>
          <a href="">Blog</a>
          <a href="">Why to Oversize?</a>
          <a href="">Support</a>
        </div>
       
        <div class="logo">
          <!-- <img src="../images/BonzaLogo.png" alt="" /> -->
          <img src="../images/bonza.png" alt="" />

        </div>
        <div class="right">
          <a href=""><i class="ri-heart-3-line"></i></a>
          <a href=""><i class="ri-shopping-cart-line"></i></a>
          <a>
            <div onclick="sidebaropen()"  class="hamburger">
              <div class="hamburgerlines">
                <span class="lines line1"> </span>
                <span class="lines line2"> </span>
                <span class="lines line3"> </span>
              </div>
            </div>
            <div onclick="sidebaropen()" class="profile">
              
              <img
                src="https://images.unsplash.com/photo-1604004555489-723a93d6ce74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                alt=""
              />
            </div>
          </a>
        </div>
        <div class="sidebarmain">
          <div onclick="sidebarclose()" class="out"></div>
          <div class="sidebar">
            <a href="">
              <div class="box">
                <img
                  src="https://images.unsplash.com/photo-1604004555489-723a93d6ce74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                  alt=""
                />
                <h4>Modelo</h4>
              </div>
            </a>
            <div class="catg">
              <a href=""><div class="sec">New Arrivals</div> </a>
              <a href=""><div class="sec">T-Shirts</div></a>
              <a href=""><div class="sec">Bottoms</div></a>
              <a href=""><div class="sec">Sweatshirt</div> </a>
              <a href=""><div class="sec">Hoodies</div> </a>
              <a href=""><div class="sec">Customisation</div> </a>
              <a href=""><div class="sec">Size</div></a>
            </div>
          </div>
        </div>
      </div>
      <div id="first">
        <div class="cntr">
          <div class="lef">
            <h5>ORGANIC</h5>
            <h1>Minimal Premium<br /><span>Clothing.</span></h1>
            <a href=""><button>Shop Now</button></a>
          </div>
          <img src="../images/Modelo.png" alt="" />
        </div>
      </div>
      <div id="second">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2021/12/3-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Green-Dragon-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Game-Over-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Otaku-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </div>
      <div id="third">
        <div class="left">
          <img
            src="https://tokyoarkade.com/wp-content/uploads/2020/08/Black-Shirt.svg"
            alt=""
          />
        </div>
        <div class="right">
          <div class="yexy">
            <h1>Minimal Design</h1>
            <h2>Big Ideas</h2>
            <h4>
              Timeless and modern designs,this is our target,searching that
              illustration than never back off,simple and modern modern designs
            </h4>
            <button class="buynow">Buy Now</button>
          </div>
        </div>
      </div>
      <div id="second">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2021/12/3-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Green-Dragon-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Game-Over-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Otaku-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </div>
      <div id="third">
        <div class="right">
          <div class="yexy">
            <h1>Minimal Design</h1>
            <h2>Big Ideas</h2>
            <h4>
              Timeless and modern designs,this is our target,searching that
              illustration than never back off,simple and modern modern designs
            </h4>
            <button class="buynow">Buy Now</button>
          </div>
        </div>
        <div id="aadhabanda" class="left">
          <img
            src="https://tokyoarkade.com/wp-content/uploads/2020/09/Fo1Fc5832C08_Fo1Fc5832C08.svg"
            alt=""
          />
        </div>
      </div>
      <div id="konhaiham">
        <h1>
          Who We Are? <br />
          <div>
            An organic clothing brand that combines the world of anime & gaming
            with a retro style & minimalist.
          </div>
        </h1>
        <h5>
          Part of our collection is made with 100% stronger, softer & smoother
          organic ring spun cotton. <br />
          <div>
            The other collection is made handcrafted with a precision cut and
            hand sewn.
          </div>
          <a id="playvid"
            ><h1>Play Video</h1>
            <span>
              <lottie-player
                id="icon"
                src="https://assets2.lottiefiles.com/packages/lf20_9abbz8gz.json"
                background="transparent"
                speed="1"
                hover
              ></lottie-player>
            </span>
          </a>
        </h5>
      </div>
      <div id="blog">
        <img
          src="https://tokyoarkade.com/wp-content/uploads/2020/05/2251992.svg"
          alt=""
        />
        <div class="yexy">
          <h1>News For You</h1>
          <h2>From Japan</h2>
          <h4>
            Excellent content on all things design industry,here you'll find out
            about our latest news about Japan,insights about fashion, design and
            gaming.
          </h4>
          <button class="buynow">Buy Now</button>
        </div>
      </div>
      <div id="links">
        <div class="link">
          <a href=""
            ><lottie-player
              src="https://assets1.lottiefiles.com/packages/lf20_xwabp3dh.json"
              background="transparent"
              speed="1.5"
              autoplay
              loop
            ></lottie-player
          ></a>
          <a href=""
            ><lottie-player
              src="https://assets8.lottiefiles.com/packages/lf20_zvhuj6my.json"
              background="transparent"
              speed="1.5"
              autoplay
              loop
            ></lottie-player
          ></a>
          <a href=""
            ><lottie-player
              src="https://assets10.lottiefiles.com/packages/lf20_86afyky0.json"
              background="transparent"
              speed="1.5"
              autoplay
              loop
            ></lottie-player
          ></a>
          <a href=""
            ><lottie-player
              src="https://assets8.lottiefiles.com/packages/lf20_ej2lfhv2.json"
              background="transparent"
              speed="1.5"
              autoplay
              loop
            ></lottie-player
          ></a>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
      let flag = 0;
      document.querySelectorAll("#heart").forEach((all) => {
        all.addEventListener("click", () => {
          if (flag === 0) {
            all.innerHTML = `<lottie-player  src="https://assets6.lottiefiles.com/packages/lf20_4VYPxJ.json"  background="transparent"  speed="1" autoplay></lottie-player>`;
            flag = 1;
          } else {
            all.innerHTML = `<i class="ri-heart-3-line dil"></i>`;
            flag = 0;
          }
        });
      });
      var scnd = document.querySelectorAll(".scnd");
      var show = document.querySelectorAll(".show");
      var txt = [];
      document.querySelectorAll(".item").forEach((all, i) => {
        txt.push(show[i].textContent);

        all.addEventListener("mouseover", (e) => {
          scnd[i].style.opacity = 1;
          show[i].textContent = "Show More";
        });
        all.addEventListener("mouseout", (e) => {
          scnd[i].style.opacity = 0;
          show[i].textContent = txt[i];
        });
      });
      document.querySelector("#icon").addEventListener("click", () => {
        document.querySelector("#konhaiham").innerHTML += `<div id="thevideo">
          <i id="close" onclick="gayab()" class="ri-close-circle-fill"></i>
          
          <iframe id="video" src="https://www.youtube.com/embed/RQTgJRwMdKQ?enablejsapi=1&html5=1&rel=0&amp;autoplay=1""  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
        </div>`;
      });
      function gayab() {
        const r = document.querySelector("#thevideo");
        r.remove();
      }

  
      
        
     

      (function onMobile(){
        if(window.innerWidth < 500){
          document.querySelector(".catg").innerHTML=`<a href=""><div class="sec">New Arrivals</div> </a>
              <a href=""><div class="sec">Store</div> </a>
              <a href=""><div class="sec">T-Shirts</div></a>
              <a href=""><div class="sec">Bottoms</div></a>
              <a href=""><div class="sec">Sweatshirt</div> </a>
              <a href=""><div class="sec">Hoodies</div> </a>
              <a href=""><div class="sec">Customisation</div> </a>
              <a href=""><div class="sec">Size</div></a>
              <a href=""><div class="sec">Blog</div> </a>
              <a href=""><div class="sec">Why to Oversize?</div> </a>
              <a href=""><div class="sec">Support</div> </a>`
        }
        else{
          document.querySelector(".catg").innerHTML=`<a href=""><div class="sec">New Arrivals</div> </a>
              <a href=""><div class="sec">T-Shirts</div></a>
              <a href=""><div class="sec">Bottoms</div></a>
              <a href=""><div class="sec">Sweatshirt</div> </a>
              <a href=""><div class="sec">Hoodies</div> </a>
              <a href=""><div class="sec">Customisation</div> </a>
              <a href=""><div class="sec">Size</div></a>`
        }
      })();
      var sbar =  0
      function sidebaropen() {
        if(sbar === 0) {
       
        let tl = gsap.timeline();
        tl.to(
          ".sidebarmain",
          {
            display: "flex",
          },
          "a"
        ).to(
          ".sidebar",
          {
            duration: 0.2,
            ease: Linear.easeInOut,
            x: 0,
          },
          "a"
        );

        let tl2 = gsap.timeline();
        tl2
        .to(".hamburgerlines .line2",{
          width:'0%',
          duration:0.2,
          ease:Linear.easeInOut
        })
        .to(".hamburgerlines .line1",{
          rotate:'45deg',
          duration:0.2,

          ease:Linear.easeInOut

        },"a")
        .to(".hamburgerlines .line3",{
          rotate:'-45deg',
          duration:0.2,

          ease:Linear.easeInOut

        },"a")
        sbar = 1;
      }
      else{
        sidebarclose()


        sbar = 0;

      }
      }
      function sidebarclose() {
        
        let tl = gsap.timeline();
        tl.to(".sidebar", {
          duration: 0.09,
          ease: Linear.easeInOut,
          x: "100%",
        }).to(".sidebarmain", {
          duration: 0.01,
          display: "none",
        });
        let tl2 = gsap.timeline();
        tl2
        .to(".hamburgerlines .line1",{
          rotate:'0deg',
          duration:0.2,
          ease:Linear.easeInOut

        },"a")
        .to(".hamburgerlines .line3",{
          rotate:'0deg',
          duration:0.2,
          ease:Linear.easeInOut

        },"a")
        .to(".hamburgerlines .line2",{
          width:'100%',
          duration:0.2,

          ease:Linear.easeInOut

        })

      }
 
   
   </script>
  </body>
</html>
