<% include ../views/Partial/header.ejs %>
<link rel="stylesheet" href="../stylesheets/Partial/nav.css" />
<link rel="stylesheet" href="../stylesheets/Partial/links.css" />
<link rel="stylesheet" href="../stylesheets/Partial/header.css" />
<link rel="stylesheet" href="../stylesheets/style.css" />
<body>
  <% include ../views/Partial/loader.ejs %>
  <% include ../views/Partial/search.ejs %>
  <div id="main">
    <% include ../views/Partial/nav.ejs %>

    <div id="first">
      <div class="cntr">
        <img src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671183356/default/20221216_002831_0000_njoa3j.png" alt="">
        
      </div>
      <div class="cntr">
        <img src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671171302/default/20221215_154401_0001_j2cuwk.png" alt="">
        
      </div>
      <div class="cntr">
        <img src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671171304/default/20221215_154401_0004_h78xal.png" alt="">

      </div>
      <div class="cntr">
        <img src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671171300/default/20221215_154401_0002_hwfjzn.png" alt="">

      </div>
      <div class="cntr">
        <img src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671171306/default/20221215_154401_0003_z3ofry.png" alt="">
      
      </div>
    </div>
    <div id="second">
      <a href="/prod•   Working with Outside Data Sources and APIuct/">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2021/12/3-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              <div id="heart"><i class="ri-heart-3-line"></i></div>

              Secret Character
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </a>
      <a href="/product/">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Green-Dragon-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </a>
      <a href="/product/">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Game-Over-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </a>
      <a href="/product/">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </a>
      <a href="/product/">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Emulator-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </a>
      <a href="/product/">
        <div class="item">
          <div class="img">
            <img
              class="scnd"
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Glitch-1-850x850.jpg"
              alt=""
            />

            <img
              src="https://tokyoarkade.com/wp-content/uploads/2020/12/Otaku-1-850x850.jpg"
              alt=""
            />
          </div>
          <div class="dets">
            <h2>
              Secret Character
              <div id="heart"><i class="ri-heart-3-line"></i></div>
            </h2>
            <h4 class="show">$49.99</h4>
          </div>
        </div>
      </a>
    </div>
    <div id="third">
      <div class="left">
        <img
          src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671124394/default/Picsart_22-12-12_17-30-10-060_chber3.jpg"
          alt=""
        />
        <!-- <img
          src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671124201/default/Picsart_22-12-12_14-16-59-654_m61mga.jpg"
          alt=""
        /> -->
      </div>
      <div class="right">
        <div class="yexy">
          <h1>Minimal Design</h1>
          <h2>Big Ideas</h2>
          <h4>
            Timeless and modern designs,this is our target,searching that
            illustration than never back off,simple and modern modern designs
          </h4>
          <button class="buynow">Buy Now</button>
        </div>
      </div>
    </div>
   
    <div id="konhaiham">
      <h1>
        Who We Are? <br />
        <div>
          An organic clothing brand that combines the world of anime & gaming
          with a retro style & minimalist.
        </div>
      </h1>
      <h5>
        Part of our collection is made with 100% stronger, softer & smoother
        organic ring spun cotton. <br />
        <div>
          The other collection is made handcrafted with a precision cut and hand
          sewn.
        </div>
        <a id="playvid"
          ><h1>Play Video</h1>
          <span>
            <lottie-player
              id="icon"
              src="https://assets2.lottiefiles.com/packages/lf20_9abbz8gz.json"
              background="transparent"
              speed="1"
              hover
            ></lottie-player>
          </span>
        </a>
      </h5>
    </div>
    <div id="third">
      <div class="right">
        <div class="yexy">
          <h1>HandDrawn Designs</h1>
          <h2>Big Ideas</h2>
          <h4>
            Timeless and modern designs,this is our target,searching that
            illustration than never back off,simple and modern designs
          </h4>
          <button class="buynow">Buy Now</button>
        </div>
      </div>
      <div id="aadhabanda" class="left">
        <img
          src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671124354/default/Picsart_22-12-12_14-22-33-988_pmafm4.jpg"
          alt=""
        />
      </div>
    </div>
   
    
    <% include ../views/Partial/links.ejs %>
  </div>
  <script src="../javascripts/nav.js"></script>
  <script>
    const cntr = document.querySelectorAll(".cntr");
    const first = document.querySelector("#first");
    let current = 0;
    const count = cntr.length;
    setInterval(() => {
      current++;

      if (current >= count) {
        first.scrollTo(0, 0);
        current = 0;
      } else {
        first.scrollBy(screen.width, 0);
      }
    }, 2000);
  </script>
  <script>
    let flag = 0;
    document.querySelectorAll("#heart").forEach((all) => {
      all.addEventListener("click", () => {
        if (flag === 0) {
          all.innerHTML = `<lottie-player  src="https://assets6.lottiefiles.com/packages/lf20_4VYPxJ.json"  background="transparent"  speed="1" autoplay></lottie-player>`;
          flag = 1;
        } else {
          all.innerHTML = `<i class="ri-heart-3-line dil"></i>`;
          flag = 0;
        }
      });
    });
    var scnd = document.querySelectorAll(".scnd");
    var show = document.querySelectorAll(".show");
    var txt = [];
    document.querySelectorAll(".item").forEach((all, i) => {
      txt.push(show[i].textContent);

      all.addEventListener("mouseover", (e) => {
        scnd[i].style.opacity = 1;
        show[i].textContent = "Show More";
      });
      all.addEventListener("mouseout", (e) => {
        scnd[i].style.opacity = 0;
        show[i].textContent = txt[i];
      });
    });
    document.querySelector("#icon").addEventListener("click", () => {
      document.querySelector("#konhaiham").innerHTML += `<div id="thevideo">
          <i id="close" onclick="gayab()" class="ri-close-circle-fill"></i>
          
          <iframe id="video" src="https://www.youtube.com/embed/RQTgJRwMdKQ?enablejsapi=1&html5=1&rel=0&amp;autoplay=1""  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
        </div>`;
    });
    function gayab() {
      const r = document.querySelector("#thevideo");
      r.remove();
    }
  </script>
  <% include ../views/Partial/footer.ejs %>
</body>
