<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post">
        <input type="hidden" name="newUser" value="<%= JSON.stringify(newUser)  %> " />
        <input type="hidden" name="SendedOtp" value="<%= val  %> " />
        <input type="hidden" name="password" value="<%= password  %> " />
      <input type="text" name="otp" placeholder="Enter OTP" />
      <input type="submit" value="Verify" />
    </form>

    
  </body>
</html>
