
#main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}
.left {
  width: 70%;
  height: 100%;
  padding: 30px;
}
.left > a {
  font-size: 0.9vmax;
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10vmax;
  padding: 0.7vmax;
  border-radius: 100px;
}
.left > a i {
  font-size: 1.7vmax;
}

.left > h1 {
  font-size: 5vmax;
  margin-top: 3vmax;
  font-weight: 400;
  font-family: aeon;
}
.box {
  width: 100%;
  height: 75%;
  /* background-color: aqua; */
  /* overflow: hidden; */
}
.ctrg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  /* padding-right: 10%; */
  margin-top: 2vmax;
}
.ctrg h4 {
  color: #b7b7b7;
  font-weight: 500;
}
.sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:    red; */
}
.sec h4 {
  font-weight: 400;
  white-space: nowrap;
}
.sec h3 {
  margin-left: 1vmax;
  margin-right: 1vmax;
  font-family: aeon;
  font-weight: 300;
}
.sec i {
  font-size: 1.5vmax;
  cursor: pointer;
}
.side {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 100%;
  height:61vh ;
  overflow: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  /* margin-top: 1vmax; */
  /* background-color: red; */
}

.item::-webkit-scrollbar {
  display: initial;
  width: 5px !important;
  background-color: #f5f5f5 !important;
}
.item::-webkit-scrollbar-thumb {
  background-color: #b7b7b7 !important;
  border-radius: 100px !important;
}
.item #empty {
  font-size: 5vmax;
  font-weight: 200;
  color: #b7b7b7;
  text-align: center;
  margin-top: 5vmax;
}
.itm {
  width: 100%;
  min-height: 8vmax;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1vmax;
  /* background-color: aqua; */
  cursor: default;
}
.lside {
  width: 55%;
  height: 100%;
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: aqua; */
  cursor: default;
}
.pname {
  font-family: aeon;
  font-size: 1.5vmax;
  /* background-color: antiquewhite; */
  margin-left: 1vmax;
  font-weight: 400;
}
.lside img {
  height: 100%;
  max-width: 8vmax;
  object-fit: cover;
}

.right {
  width: 30%;
  min-height: 100%;
  position: relative;
  background-color: #f6f6f6;
}

.right > h1 {
  font-size: 6vmin;
  margin-top: 5vmax;
  font-weight: 400;
  font-family: aeon;
  margin-left: 2vmax;
}
.calc {
  width: 100%;
  height: 10%;

  margin-top: 2vmax;
}
.cats {
  width: 100%;
  padding: 0 2vmax;
  display: flex;
  justify-content: space-between;
}
.cats h2 {
  font-family: aeon;
  font-size: 2.8vmin;
  font-weight: 600;
  margin-top: 1vmax;
  color: #3f3f3f;
}
.total {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cats h2:nth-child(1) {
  font-weight: 400;
}
.total form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.total button {
  width: 85%;
  height: 7vh;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 2.5vh;
  font-weight: 500;
  color: white;
  margin-top: 3vmax;
  margin-bottom: 2vmax;

  cursor: pointer;
}
.mtcart {
  position: absolute;
  top: 50%;
  left: 10%;
  font-weight: 100;
  font-size: 5.5vmax;
  color: #dadada;
}
select {
  font-size: 1vmax;
  padding: 0.5vmax;
  outline: none;
  border-radius: 7px;
}
#delete {
  position: absolute;
  z-index: 4099;
  top: -7px;

  left: -7px;
  font-size: 2vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}
#containn h5{
  font-weight: 300;
  font-size: 1.4vw;
}
.side .sec {
  font-size: 1.5vw;
}
.ctrg .side h4{
  font-size: 1.5vw;
}
@media (max-width: 770px) {
  #delete {
    top: 4px;

    left: 4px;
    font-size: 2.5vmax;
  }
  .side {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lside {
    width: 95%;
  }
  .pname {
    align-items: flex-start;
    /* background-color: aqua; */
    margin-left: 1vmax;
    width: 100%;

    font-size: 2vmax;
  }
  select {
    font-size: 1.3vmax;
    padding: 0.5vmax;
  }
  .side {
    margin-left: 1vmax;
    width: 54vw;
    /* background-color: #3f3f3f; */
    align-items: space-between;
    justify-content: space-between;
    padding-right: 1vmax;
  }
  #containn h5{
    font-weight: 300;
    font-size: 1.8vw;
  }
  .sidesec {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5vmax;
    /* background-color: #3f3f3f; */
  }
  .ctrg .side {
    width: 37vw;
    /* background-color: #3f3f3f; */
  }
  .sec {
    padding: 0 1vmax;
    justify-content: space-between;
    font-size: 1.5vmax;
  }
  .sec a i {
    font-size: 2vmax;
  }
  .side .sec {
    font-size: 1.7vw;
  }
  .ctrg .side h4{
    font-size: 1.7vw;
  }
  .qty {
    display: flex;

    align-items: center;
  }
}
@media (max-width: 1000px) {
  .item {
    height: auto;
    min-height:30vmax ;
  }
  #t {
    margin-left: 1.8vmax;
  }
  .itm {
    background-color: #e7e7e75c;
    padding: 1.5vmax 0;
  }
  #main {
    display: block;
    padding: 0;
    min-height: 100vh;
    overflow: auto;
    /* background-color: #3f3f3f; */
  }
  .left {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .left > h1 {
    margin-left: 1.8vmax;
  }
  .left > a {
    font-size: 1.5vmax;
    background-color: #000000;
    color: #fff;
    justify-content: center;
    max-width: 15vmax;
    padding: 1.5vmax;
    border-radius: 100px;
    margin-left: 1vmax;
    margin-top: 1vmax;
  }
  .right {
    position: relative;
    width: 100%;
    /* height: auto; */
    min-height: 40vmax;
  }

  .right h1 {
    font-size: 4vmax;
  }
  .total .cats h2 {
    font-size: 2vmax;
    margin-top: 1vmax;
    color: #3f3f3f;
  }
  .calc .cats h2 {
    font-size: 2vmax;
    margin-top: 1vmax;
    color: #3f3f3f;
  }

  .box {
    margin-top: 7vmax;
  }
  
  .lside h2 {
    font-size: 1.4vmax;
    /* background-color: antiquewhite; */
    margin-left: 1vmax;
  }
}
