
#main{
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          overflow: hidden;
}
a{
          text-decoration: none;
          color: black;

}

#addAdrs{
    font-weight: 300;
    font-size: 1vmax;
    width: 15vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmax 0;
    border-radius: 10px; 
    background-color: #000000;
    padding: 1vmax;
    color: white;
}

.left{
          width: 15%;
          height: 100%;  
          background-color: #f5f5f5;
          position: relative;
}
.left > a {
    font-size: .9vmax;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10vmax ;
    padding: .7vmax;
    margin: 30px;
    border-radius: 100px;
}
.left > a i {
  font-size: 1.7vmax;
}
.left>h4{
          font-family: aeon;
          font-size: 1.5vw;
          font-weight: 500;
          align-items: center;
          position: absolute;
          right: 30%;
          /* transform: translateX(50%); */
          top: 25%;          
          /* font-weight: 500; */
}
.l{

          width: 6.5vw;
          height: 1.5px;
          position: relative;
          transform-origin: right;
}

.l:after{
content:"";
position:absolute;
display:block;
width:100%;
height:100%;
background:rgb(0, 0, 0);
z-index:2;
transform-origin:left;
          animation:  animate 2s infinite alternate;
}
@keyframes animate
{
    0%{
             transform:translateX(0) scaleX(0);
             transform-origin:left;
             right:auto;
    }
    45%{
             transform:translateX(0) scaleX(1);
             transform-origin:left;
             right:auto;
    }
    50%{
             transform:translateX(0) scaleX(1);
             transform-origin:right;
             right:auto;
    }
    100%{
             transform:translateX(0) scaleX(0);
             transform-origin:right;
             right:auto;
    }
}
.center{
          width: 55%;
          height: 100%;
          padding: 30px;
          position: relative;
}
.center>h1 , .center>h1 span{
          font-size: 2.7vw;
          line-height: 2.7vw;
          margin-top: 3vw;
          margin-bottom: 5vw;
          font-weight: 500;

          font-family: aeon;
}

.center form{
          width: 100%;
          height: 70%;
}
.do{
          width: 100%;
          display: flex;
          justify-content: space-between;
}
form select{
          width: 100%;
          border: none;
          border-radius: 5px;
          background-color: #f5f5f5;
          background-image: url();
          outline: none;
          font-size: 1.2vw;
          font-family: aeon;
          cursor: pointer;
          font-weight: 500;
          padding: 1vmax 3vmax;
          margin-bottom: 5vw;
}
select option{
          font-size: 1.2vw;
          cursor: pointer;

          
}
.do>input{
          width: 48%;
          background:none;
          height: 3.5vw;
          border-bottom: 1px solid #adadad;
          border-top: none;
          border-left: none;
          border-right: none;
          font-size: 1.2vw;
          outline: none;
          font-family: aeon;
          font-weight: 400;
          margin-bottom: 1vw; 
}
.center form>input{
          width: 100%;
          background:none;
          height: 4vw;
          outline: none;
          border-bottom: 1px solid #adadad;
          border-top: none;
          border-left: none;
          border-right: none;
          font-size: 1.2vw;
          font-family: aeon;
          font-weight: 400;
          margin-bottom: 1vw;
}

.center form input::placeholder{
          font-size: 1vw;
          color: #5f5f5f;
}






.right{
          width: 30%;
          height: 100%;
          position: relative;
          background-color: #F6F6F6;
}
.right>h1{
          font-size: 3vw;
          margin-top: 5vw;
          font-weight: 500;
          font-family: aeon;
          margin-left: 30px;
}
.calc{
          width: 100%;
          height: 10%;
     
          margin-top: 2vw;
}
.cats{    
          width: 100%;
          padding:  0 30px;
          display: flex;
          justify-content: space-between;
}
.cats h2{
          font-family: aeon;
          font-size: 1.2vw;
          font-weight: 600;
          margin-top: 1vw;
          color: #3f3f3f;
}
.total{
          position: absolute;
          bottom: 0;
          width: 100%;
          
}
.total .cats h2,#finalAmt{
          font-size: 1.5vw;
          font-weight: 600;
          margin-top: 1vw;
          color: #3f3f3f;
}
.cats h2:nth-child(1),.cats h2:nth-child(1) span{
          font-weight: 600;
}
.total form{
          width: 100%;
          display: flex;
          position: relative;
          justify-content: center;
}
.total button{
    width: 85%;
    height: 7vh;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 3vmax;
    margin-bottom: 2vmax;
    
    cursor: pointer;
}
.total button h3{
    font-size: 2.5vh;
          font-weight: 500;
          
}


@media (max-width:1000px) {
    
    #main{
        flex-direction: column;
        overflow: auto;
    }
    .left{
        width: 100%;
        min-height:20vmax;
    }
    .left h4{
        font-size: 4vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }
    .left >a{
        font-size: 1.5vmax;
        background-color: #000000;
        color: #fff;
        justify-content: center;
        max-width: 15vmax ;
        padding: 1.5vmax;
        border-radius: 100px;
        margin-left: 1vmax;
        margin-top: 1vmax;
      }
    .l{
        width: calc(100% + 15%);
    }
    .center{
        width: 100%;
    }
    .center >h1{
        font-size: 4vmax;
        line-height: 4.5vmax;
    }
    .center >h1 span{
        font-size: 4vmax;
    }
    .center form select{
        padding: 2vmax 5vmax;
        font-size: 1.8vmax;
    }
    .center form input{
        height: 8vmax;
        font-size: 1.9vmax;

        /* background-color: #b00404; */
    }
    .center form input::placeholder{
        font-size: 1.8vmax;
    }
    .right {
        position: relative;
        width: 100%;
        /* height: auto; */
        min-height: 40vmax;
      }
    
      .right h1 {
        font-size: 4vmax;
      }
      .total .cats h2 {
        font-size: 2vmax;
        margin-top: 1vmax;
        color: #3f3f3f;
      }
      .calc .cats h2 {
        font-size: 2vmax;
        margin-top: 1vmax;
        color: #3f3f3f;
      }

}
