* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: gilro;
  cursor: default;
  user-select: none;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-LIGHT.OTF);
  font-weight: 100;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-THIN.OTF);
  font-weight: 200;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-REGULAR.OTF);
  font-weight: 300;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-MEDIUM.OTF);
  font-weight: 400;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-SEMIBOLD.OTF);
  font-weight: 500;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-BOLD.OTF);
  font-weight: 600;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-EXTRABOLD.OTF);
  font-weight: 700;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-HEAVY.OTF);
  font-weight: 800;
}
@font-face {
  font-family: "gilro";
  src: url(../fonts/gilroy/GILROY-BLACK.OTF);
  font-weight: 900;
}

html,
body {
  height: 100%;
  width: 100%;
}
*::-webkit-scrollbar {
  display: none;
}
.main {
  height: 100%;
  width: 100%;
}#nav{
  width: 100%;
  height: 70px;
  position: fixed;
  /* filter: invert(1); */
  z-index: 499;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding: 0 2vmax;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}
#nav .left a{
  font-size: 1vmax;
}
#nav a:hover{
  color: rgb(185, 185, 185);
}
#nav .left{
  height: 100%;

  display: flex;
  align-items: center;
  gap: 2vw;
}
#nav a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;

}

#nav .logo img{
  height: 97%;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;

}
#nav .right{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2.5vmax;
}
#nav .right a{
  position: relative;
}
#nav .right a i{
    font-size: 1.2rem;
}
#nav .right a .count{
  font-size: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -7px;
  top: -3px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #C90000;
  overflow: hidden;
}
#nav .right a .profile{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid red;
  padding: 2px;
  overflow: hidden;
}

.hamburgerlines{
  width: 100%;
  height: 100%;
  position: absolute;
  
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburgerlines .lines{
  display: block;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 100px;
}

.hamburger{
  position: relative;
  /* background-color: #C90000; */
  width: 30px;
  z-index: 5555;
  height: 25px;
  display: none;
}

.hamburgerlines .line1{
 transform-origin: 0% 0%;
}

.hamburgerlines .line2{ 
 transform-origin: 0% 100%;
}
.hamburgerlines .line3{ 
 transform-origin: 0% 100%;
}
#nav .right a .profile img{
  width: 100%;
  border-radius: 50%;
  
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.sidebarmain{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  left: 0;
}
.out{
  background-color: #0000008e;
  width:100%;
  height: 100%;
}
.sidebar{
  position: absolute;
  right: 0;  
  z-index: 501;
  transform: translateX(100%);
  /* z-index: 501; */
  background-color: #000;
  width: 30vmax;
  height: 100vh;
}
.sidebar .box{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #030303;
  border-bottom:1px solid rgba(128, 128, 128, 0.501) ;
}
.sidebar .box img{
  width:  8vmax;
  height: 8vmax;
  border-radius: 20px;
  border: .6vmax solid black;
  object-fit: cover;
  object-position: 50% 50%;
  
}
.sidebar .box h4{
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  font-size: 20px;
  color: #fff;
}
.sidebar .catg{
  display: flex;
  /* background-color: #C90000; */
  flex-direction: column;
  /* background-color: #000000; */
  height:  75%;
  width: 100%;
}
.sidebar .catg .sec{
  display: flex;
  align-items: center;
  padding: 2vmax;
  width: 100%;
  height: 6vh;
}
.catg a:hover .sec{
  background-color: #262626;
}
@media (max-width: 600px) {
  #nav{
    height: 8vmax;
  }
  #nav .left {
    display: none;
  }
  #nav .logo img{
  height: 90%;

    left: 30%;
  }
  .sidebar .box{
    height: 18%;
  }
  .sidebar .catg{
    height: 85%;
  }
  .sidebar .catg .sec{
  padding: 3vmax;

  }
  .sidebar{
    left: 0;  
    z-index: 501;
    transform: translateX(-100%);
  }
  .profile{
    display: none;
  }
  .hamburger{
    display: block;
    margin-left: 1.5vw;
    transform: scale(.8);
  }
  #rightHamburger{
    display: none;
  }
  #rightHamburger{
    display: initial;
  }
}


.first{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  /* background-color: #C90000; */
}
.center{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 5vmax;
}
.imgwrapper {
  position: relative;
  width: 40vmax;
  height: 40vmax;
  /* background-color: rgb(2, 20, 84); */
  overflow: hidden;
}

.imgs{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  display: flex;
}
.imgwrapper img{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slidebtn{
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  display: flex;
  color:#fff;
  filter: invert(1);
  font-size: 1.5vmax;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.slidebtn:hover{
  background-color: rgba(255, 255, 255, 0.171);
}
.slidebtn:nth-child(1){
  left: 0;
}

.slidebtn:nth-child(n-1){
  right: 0;
}

.dets{
  width: 30vmax;
  height: 40vmax;
  display: flex;
  flex-direction: column;
  padding: 3vmax 0;
  /* align-items: center;
  justify-content: center; */

  background-color: #ffffff;
}
.dets >h1{
  font-size: 2.4vmax;
  font-weight: 400;
  letter-spacing: .1vmax;
  color: #000;
}
.dets >h4{
  font-size: 1.4vmax;
  font-weight: 400;
  color: rgb(255, 0, 0);
}
.dets >p{
  margin-top:1vmax;
  font-size: 1.1vmax;
  line-height: 1.5vmax;
  font-weight:300;
}
.size{
  display: flex;
  width: 100%;
  padding: 1vmax 2vmax;
  border: 1px solid rgba(109, 109, 109, 0.496);
  align-items: center;
  justify-content: space-between;

}
select{
  outline: none;
    border: none;
    font-size: 1vmax;
}
.size input[type="number"]{
  width: 10%;
  height: 100%;
  text-align: center;
  color: #000;
  font-size: 1vmax;
}

.size h5{
  font-size: 1vmax;
} 
.size:nth-last-child(4){
  margin-top: 1vmax;
  font-weight: 100;
  /* background-color: #C90000 */
}
.size:nth-last-child(2){
  justify-content: center;
  background-color: #000;
  color: #fff;  
}
.size:nth-last-child(1){
  margin-top: 1vmax;
  width: 30%;
  padding: 0;
  color: rgb(164, 164, 164);

  border: none;
}
a{
  text-decoration: none;
  color: #000;
}
.size i{
  
  font-size: 1.3vmax;
  color: rgb(164, 164, 164);
}
.size i:hover{
  color: rgb(0, 0, 0);
}
@media (max-width:600px) {
  .imgwrapper{
    width: 100%;
    height: auto;
  }
  .dets{
    width: 100%;
    padding:2vmax;
  }
}