body {
          background: rgb(99, 39, 120)
      }
      *{
        color: white ;
      }
      
      .form-control:focus {
          box-shadow: none;
          border-color: #BA68C8
      }
      
      .profile-button {
          background: rgb(99, 39, 120);
          box-shadow: none;
          border: none
      }
      
      .profile-button:hover {
          background: #682773
      }
      
      .profile-button:focus {
          background: #682773;
          box-shadow: none
      }
      
      .profile-button:active {
          background: #682773;
          box-shadow: none
      }
      
      .back:hover {
          color: #682773;
          cursor: pointer
      }
      
      .labels {
          font-size: 11px
      }
      
      .add-experience:hover {
          background: #BA68C8;
          color: #fff;
          cursor: pointer;
          border: solid 1px #BA68C8
      }
      input{
          outline: none;
          border: none !important;
          color: #fff !important;
          
      }
      input::placeholder{
            color: white !important;
      }

      body{
        background-image: url(https://images.fineartamerica.com/images-medium-large-5/jeans-texture-andrew-dernie.jpg);
        background-size: repeat;
      }

      .container{
        background: rgba( 255, 255, 255, 0.1 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
        backdrop-filter: blur( 5px ) !important;
        border-radius: 50px !important;
        overflow: hidden;
        border: 10px solid rgba( 255, 255, 255, 0.18 ) !important;
      }
      #backbtn{
        text-decoration: none;
        font-size: 1.5vh;
        background-color: #000000;
        color: #fff;
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        max-width: 17vh;
        padding:  1.3vh;
        margin: 2vmax;
        border-radius: 100px;
      }
      #backbtn i {
        font-size: 1.7vmax;
      }
      .changepfpbtn{
        cursor: pointer !important;
      }