
#main {
  margin-top: 70px;
  height: 100%;
  width: 100%;
}


        .catgs{
          width: 100%;
          height: 5vmax;
          display: flex;
          align-items: center;
          justify-content: space-between;
          /* background-color: #c90000; */
          padding: 0 4vmax;
          font-size: 1.3vmax;
}
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800,900');
#search{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  z-index: 498;
  background-color: #030303;
}


#search p {
    color: #f9f9f9;
}

#search #searchBox {
    position: absolute;
    text-align: center;
    top: 20%;
  }
  
  #search #searchInput {
    /* display: none; */
    z-index: 999;
  }
  
  #search .container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #search .search-wrapper {
    width: 350px;
    height: 100px;
    position: relative;
    top: 30%;
    
    -webkit-filter: url("#goo");
    filter: url("#goo");
  }
  
  #search .inputSearch {
    font-weight: 400;
    width: 300px;
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    top: 0;
    margin-top: -10px;
    border: none;
    background: #333;
    outline: none;
    z-index: 2;
    color: #f9f9f9;
    cursor: text;
    margin-left: 0px;
  }
 
  
  #search .bubble {
    position: absolute;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 -3px 0 -3px;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 100%;
    transition: left 1s, width 1s, border-radius 1.5s, height 1s;
    z-index: -1;
}

#search .bubble:nth-child(1){
    display: initial;
    text-align: center;
    
}
#search .animate {
    animation-name: bubbling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#search .S {
    transition: color 1s;
    margin-top: 1vmax;
}

@keyframes bubbling {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}



.catgs a:hover{
          color: rgb(255, 0, 0);
}     
#second {
          position: relative;
          /* height: 110vh; */
          margin-bottom: 3vmax;
          width: 100vw;
          min-height:20vmax ;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px 4vmax ;
          /* overflow: hidden; */
          overflow:hidden ;
          flex-wrap: wrap;
          background-color: rgb(255, 255, 255);
          /* overflow: hidden; */
        }
        #second .dil{
          padding: 3vmax;
        }
        #second .item{
          width: 50vh;
          position: relative;
        }
        #second .item .img{
          height: 50vh;
          width: 100%;
          
          display: flex;
          position: relative;
          cursor: pointer;
          border-radius: 10px;
          overflow: hidden;
        }
        
        #second .item .dets{
          width: 100%;
          padding: 1vmax;
        }
        #second .item h2{
          display: flex;
          /* padding: 0 .2vmax; */
          align-items: center;
          justify-content:space-between;
          font-weight: 500;
          font-size: 20px;
        }
        #second .item  #heart {
          height:3.5rem;
          width: 3.5rem;
          position: absolute;
          right: 1%;
          top: 1%;
          z-index: 15;
          border-radius: 50%;
          display: flex;
          background-color: #f9f9f9;

          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        #second .item #heart i,#second .item #heart lottie-player{
          cursor: pointer;
        }
        
        #second .item h4{
          font-size:18px;
          /* padding-left: 1vmax; */
          font-weight: 400;
          cursor: pointer;
        }
        
        #second .item .img img{
          width: 50vh;
          height: 100%;
          
          cursor: pointer;
          object-fit: cover;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
          
        }
        #second .item .scnd{
          width: 50vh;
          height: 100%;
          opacity: 0;
          position: absolute;
          cursor: pointer;
          object-fit: cover;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
          
        }
        
        #second .item:hover .scnd{
         opacity: 1;
        }
        #sort{
          display: none;
          width:15vmax;
          top: 2vmax;
          right: 1%;
          background-color: rgb(0, 0, 0);
          position: absolute;
          z-index: 999;
        }
        .rig a span{
          display: flex;
          align-items: center;
          gap: 15px;
          }
        .rig a img{
          height: 2vmax;
          width: 2vmax;
          object-fit: cover;
        }
        .rig a{ position: relative;}
        .rig a:hover #sort{
          display: block;
        }
         .options{
          width: 100%;
          height: 3vmax;
          color: white !important;
          font-size: 1vmax;
          display: flex;
          align-items: center;
          padding: 0 1vmax;
        }
        .options i {
          margin-left: 1vmax;
        }
         .options:hover{
          background-color: #f3f3f3;
          color: black !important;
        }
          @media screen and (max-width: 600px) {
            
            #second .item{
              width: 45vw;
            }
  
            #second .item .img{
              height:45vw;
              width: 45vw;
            }
            #second .item .dets{
              width: 45vw;
             
            }
            #second .item h4{
              font-size:12px;
              /* margin-top: -12px; */
          
            }
            #second .item h2{
              font-size: 12px;
            }
            #second .item #heart{
              height:3rem;
              width: 3rem;
            }
            
          }