*{
  scroll-behavior: smooth;
}

#main{
  height: 100%;
  width: 100%;

}
#first {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

#first .cntr{
  /* height: 100vw; */
  width: 100vw;
  overflow: hidden; 
  scroll-snap-align: start;
  flex-shrink: 0;
  position: relative;
  z-index: 10;

}

#first .cntr img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 5;
}

/* #first .cntr img{
  height:100vh;
  margin-top: 10vmax;
  position: relative;
} */
#second {
  position: relative;
  /* height: 110vh; */
  margin-top: 20px;
  margin-bottom: 3vmax;
  width: 100vw;
  min-height:20vmax ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 4vmax ;
  /* overflow: hidden; */
  overflow:hidden ;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  /* overflow: hidden; */
}
#second .dil{
  padding: 3vmax;
}
#second .item{
  width: 50vh;
  position: relative;
}
#second .item .img{
  height: 50vh;
  width: 100%;
  
  display: flex;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

#second .item .dets{
  width: 100%;
  padding: 1vmax;
}
#second .item h2{
  display: flex;
  /* padding: 0 .2vmax; */
  align-items: center;
  justify-content:space-between;
  font-weight: 500;
  font-size: 20px;
}
#second .item  #heart {
  height:3rem;
  width: 3rem;
  position: absolute;
  right: 1%;
  top: 1%;
  z-index: 15;
  border-radius: 50%;
  display: flex;
  background-color: #f9f9f9;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#second .item #heart i,#second .item #heart lottie-player{
  cursor: pointer;
}

#second .item h4{
  font-size:18px;
  /* padding-left: 1vmax; */
  font-weight: 400;
  cursor: pointer;
}

#second .item .img img{
  width: 50vh;
  height: 100%;
  
  cursor: pointer;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
  
}
#second .item .scnd{
  width: 50vh;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
  
}

#second .item:hover .scnd{
 opacity: 1;
}




@media screen and (max-width: 600px) {
  #first .cntr{
    margin-top: 5vmax;
  }
  #second .item{
    width: 40vw;
  }
  #second .item .img{
    height:40vw;
    width: 40vw;
  }
  #second .item .dets{
    width: 40vw;
   
  }

  #second .item h4{
    font-size:10px;
    /* margin-top: 10px; */

  }
  #second .item h2{
    font-size: 10px;
  }
  
}
#third{
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 100vw;
  display: flex;
  
  
}
#third .left{
  width: 50%;
  height: 100%;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}
#third .left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
#third .right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0 10vmin;
}
.yexy h1{
  font-size: 3vmax;
  font-weight: 700;
}
.yexy h2{
  font-size: 1.5vmax;
  font-weight: 700;
}
.yexy h4{
  font-size: 1vmax;
  font-weight: 400;
}
.buynow{
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2vmax;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2vmax;
  padding: 1.5vmax 2vmax;
}
#third #aadhabanda{
  display: initial;
  align-items: flex-start;
  justify-content: flex-start;
}
#third #aadhabanda img{
  height:100%;
}
#konhaiham{
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 70vh;
  width: 100%;
  background-color: #EEEEEE;

}
#konhaiham >h1{
  width:36vw;
  /* white-space: nowrap; */
  font-size: 2.7vmax;
  font-weight: 1000;
  margin-right: 3vw;
}
#konhaiham h1 div{
  margin-top : 1vw;
  font-size: 1.9vmax;

  font-weight: 600;
}
#konhaiham h5{
  width: 37%;
  font-size: 1.5vmax;
  font-weight: 400;
}
#konhaiham h5 div{
  margin-top: 2vmax;
}
#konhaiham h5 a {
  text-decoration: none;
  color: #000;  
  display: flex;
  align-items: center;
  position: absolute;
}
#konhaiham h5 a span{
  position: relative;
}
#konhaiham h5 a h1{
  /* background-color: antiquewhite; */
  font-size: 1.4vmax;
}
#konhaiham h5 a #icon{
  width: 7vmax;
  height: 7vmax;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
  /* position: absolute;/ */
  /* background-color: aqua; */
}
#konhaiham #thevideo{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 5vmax; */
  background-color: rgba(0, 0, 0, 0.852)
}
#konhaiham #icon{
  cursor: pointer;
}
#konhaiham #thevideo i{
  font-size: 6vh;
  color: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 501;
  transform: translate(-50%,0);
  cursor: pointer;
}
#konhaiham #thevideo iframe{
  width: 100%;
  height: 40vmax;
}


