<div id="links">
          <div class="link">
            <a href=""
              ><lottie-player
                src="https://assets1.lottiefiles.com/packages/lf20_xwabp3dh.json"
                background="transparent"
                speed="1.5"
                autoplay
                loop
              ></lottie-player
            ></a>
            <a href=""
              ><lottie-player
                src="https://assets8.lottiefiles.com/packages/lf20_zvhuj6my.json"
                background="transparent"
                speed="1.5"
                autoplay
                loop
              ></lottie-player
            ></a>
            <a href=""
              ><lottie-player
                src="https://assets10.lottiefiles.com/packages/lf20_86afyky0.json"
                background="transparent"
                speed="1.5"
                autoplay
                loop
              ></lottie-player
            ></a>
            <a href=""
              ><lottie-player
                src="https://assets8.lottiefiles.com/packages/lf20_ej2lfhv2.json"
                background="transparent"
                speed="1.5"
                autoplay
                loop
              ></lottie-player
            ></a>
          </div>
        </div>