<link rel="stylesheet" href="../stylesheets/Partial/loader.css" />
<div id="loader">
          <img src="../images/loader.gif" />
</div>
<script>  document.fonts.ready.then(function (dets) {
          document.querySelector("#loader").style.display = "none";
      })
</script>