<div id="nav">
          <div onclick="sidebaropen()" id="leftHamburger"  class="hamburger">
            <div class="hamburgerlines">
              <span class="lines line1"> </span>
              <span class="lines line2"> </span>
              <span class="lines line3"> </span>
            </div>
          </div>
          <div class="left">
            <a href="/">Home</a>
            <a href="/store">Store</a>
            <a href="/blog">Blog</a>
            <a href="/whytoOversize">Why to Oversize?</a>
            <a href="/support">Support</a>
          </div>
         <a href="">
  
           <div class="logo">
             <img src="../images/BonzaLogo.png" alt="" />
             <!-- <img src="../images/bonza.png" alt="" /> -->
   
           </div>
         </a>
          <div class="right">
            <a href=""><i class="ri-search-2-line"></i></a>
            <a href=""><i class="ri-heart-3-line"></i></a>
            <a href="/cart"><i class="ri-shopping-cart-line"></i><div class="count">5</div></a>
            <a>
              <div onclick="sidebaropen()" id="rightHamburger" class="hamburger">
                <div class="hamburgerlines">
                  <span class="lines line1"> </span>
                  <span class="lines line2"> </span>
                  <span class="lines line3"> </span>
                </div>
              </div>
              <div onclick="sidebaropen()" class="profile">
                
                <img
                  src="https://images.unsplash.com/photo-1604004555489-723a93d6ce74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="sidebarmain">
            <div onclick="sidebarclose()" class="out"></div>
            <div class="sidebar">
              <a href="/login">
                <div class="box">
                  <img
                    src="https://images.unsplash.com/photo-1604004555489-723a93d6ce74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                    alt=""
                  />
                  <h4>login/signUp</h4>
                </div>
              </a>
              <div class="catg">
              
              </div>
            </div>
          </div>
        </div>