<div id="nav">
  <div onclick="sidebaropen()" id="leftHamburger" class="hamburger">
    <div class="hamburgerlines">
      <span class="lines line1"> </span>
      <span class="lines line2"> </span>
      <span class="lines line3"> </span>
    </div>
  </div>
  <div class="left">
    <a href="/">Home</a>
    <a href="/store">Store</a>
    <a href="/about">About Us</a>
  </div>
  <a href="/">
    <div style="cursor: pointer !important;" class="logo">
      <img style="cursor: pointer !important;" src="../images/logo3.png" alt="" />
      <!-- <img src="../images/bonza.png" alt="" /> -->
    </div>
  </a>
  <div class="right">
    <a onclick="srchclose(0)"><i class="ri-search-2-line clicki"></i></a>
    <a href="/wishlist"><i class="ri-heart-3-line clicki"></i></a>
    <a href="/cart"
      ><i class="ri-shopping-cart-line clicki"></i>
      <div class="count">0</div></a
    >
    <a>
      <div onclick="sidebaropen()" id="rightHamburger" class="hamburger">
        <div class="hamburgerlines">
          <span class="lines line1"> </span>
          <span class="lines line2"> </span>
          <span class="lines line3"> </span>
        </div>
      </div>
      <div onclick="sidebaropen()" class="profile clicki">
        <img style="cursor: pointer !important;" class="pfp clicki" src="../../images/def.jpg" alt="" />
      </div>
    </a>
  </div>
  <div class="sidebarmain">
    <div onclick="sidebarclose()" class="out"></div>
    <div class="sidebar">
      <a href="/login">
        <div class="box">
          <img style="cursor: pointer !important;"  class="pfp" src="../images/def.jpg" alt="" />
          <h4 id="username">login/signUp</h4>
        </div>
      </a>
      <div style="overflow-y: auto;" class="catg"></div>
    </div>
  </div>
</div>
<% include
  ./search.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
  integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="../javascripts/nav.js"></script>

<script>
  axios.get("/loggedinUser").then((data) => {
    console.log(data);
    document.querySelector(".count").textContent = data.data.cart.length;
    if (data.data.pfp) {
      document
        .querySelectorAll(".pfp")
        .forEach((e) => e.setAttribute("src", `${data.data.pfp.url}`,e.setAttribute("alt", `${data.data.pfp.public_id}`)));
      document.querySelector("#username").textContent = data.data.name;
    } else {
      document
        .querySelectorAll(".pfp")
        .forEach((e) => e.setAttribute("src", `../images/def.jpg`), e.setAttribute("alt", ``));
      document.querySelector("#username").textContent = "Login/Sign-Up";
    }
  });

</script>
