<div id="nav">
          <div onclick="sidebaropen()" id="leftHamburger"  class="hamburger">
            <div class="hamburgerlines">
              <span class="lines line1"> </span>
              <span class="lines line2"> </span>
              <span class="lines line3"> </span>
            </div>
          </div>
          <div class="left">
            <a href="/">Home</a>
            <a href="/store">Store</a>
            <a href="/blog">Blog</a>
            <a href="/support">Support</a>
          </div>
         <a href="">
  
           <div class="logo">
             <img src="../images/BonzaLogo.png" alt="" />
             <!-- <img src="../images/bonza.png" alt="" /> -->
   
           </div>
         </a>
          <div class="right">
            <a href=""><i class="ri-search-2-line"></i></a>
            <a href=""><i class="ri-heart-3-line"></i></a>
            <a href="/cart"><i class="ri-shopping-cart-line"></i><div class="count">5</div></a>
            <a  >
              <div onclick="sidebaropen()" id="rightHamburger" class="hamburger">
                <div class="hamburgerlines">
                  <span class="lines line1"> </span>
                  <span class="lines line2"> </span>
                  <span class="lines line3"> </span>
                </div>
              </div>
              <div onclick="sidebaropen()" class="profile">
                
                <img class="pfp"
                  src="../../images/def.jpg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="sidebarmain">
            <div onclick="sidebarclose()" class="out"></div>
            <div class="sidebar">
              <a href="/login">
                <div class="box">
                  <img class="pfp"
                    src="../images/def.jpg"
                    alt=""
                  />
                  <h4 id="username" >login/signUp</h4>
                </div>
              </a>
              <div class="catg">
              
              </div>
            </div>
          </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script  >
          axios.get("/loggedinUser").then((data)=>{
            console.log(data.data.name)
            if(data.data.pfp){
              document.querySelectorAll(".pfp").forEach((e)=>e.setAttribute("src", `../images/${data.data.pfp}`))
              document.querySelector("#username").textContent=data.data.name
            }
            else{
              document.querySelectorAll(".pfp").forEach((e)=>e.setAttribute("src", `../images/def.jpg`))
              document.querySelector("#username").textContent='Login/Sign-Up'
            }
          })
       
        </script>